/* font-family: "Quicksand", serif; */

.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* color */

.empower1{
  color: #FEA301;
}
.empower2{
  color: #01ACFD;
}

/* Navbar */
.header{
  margin-left: 30px;
  margin-right: 10px;
}
.school{
  margin-left: -270px;
  font-size: 32px;
  font-weight: 700;
  /* padding-left: 40px; */
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 140px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;

}

nav ul li{
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  
}
nav ul li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
.home{color: #FEA301;}
.about{color: #01ACFD;}
.facilities{color: #05D4DF;}
.admition{color: #5D58EF;}

.btn-contact{
  color: #ffffff;
  border: none;
  padding: 10px 60px;
  background-color: #FEA301;
  border-radius: 12px;
  text-decoration: none;
}
.btn-contact a{
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}


/* Empowering Student */

.empowering-student{
  margin: 0 140px;
  padding-left: 140px ;
  display: flex; 
  margin-top: -30px; 
}
.para-1{
  font-size: 20px;
  height: 50px;
  width: 640px;
}

.empowering{
  padding-top: 122px;
  padding-bottom: 122px;
  padding-right: 50px;
  align-items: center;
}
.empower{
  font-size: 56px;
  font-weight: 700;
}
.btn-enroll{
  width: 197px;
  height: 50px;
  color: #ffffff;
  background-color: black;
  border: none;
  border-radius: 12px;
}

.kids-hero{
  height: 468px;
  width: 575px;
  padding-left: 30px;
}

/* Standard Curriculum */

.standard-curriculum{
  margin: 0 140px;
  background-image: url(../assets/bg.png);

}
.stand{
  font-size: 46px;
  font-weight: 700;
  text-align: center;
}

.standard{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
  text-align: center;
  margin-left: 100px;
}

.card1{
  background-color: #DEF5FF;
  height: 476px;
  width: 367px;
  border-radius: 18px;
  
}
.card2{
  background-color: #FFF4DC;
  height: 476px;
  width: 367px;
  border-radius: 18px;
}
.card3{
  background-color: #F2E8FF;
  height: 476px;
  width: 367px;
  border-radius: 18px;
}

.kid-img1{
  padding: 65px 118px;
}

.card1-read{
  color: #64C8FF;
  font-size: 15px;
  font-weight: 700;
}

.card2-read{
  color: #F0AA00;
  font-size: 15px;
  font-weight: 700;

}
.card3-read{
  color: #8700FF;
  font-size: 15px;
  font-weight: 700;
}





/* Our Stories */
.our-teams{
  background-color: rgba(196, 196, 196, 1);
  background-image: url(../assets/bg.png);
}
.our-stories{
  width: 460px;
  height: 57px;
  font-size: 46px;
  font-weight: 700;
  padding-top: 60px;
  text-align: center;
  margin-left: 580px;

}
.our-tm{
  margin: 140px;
  padding-left: 140px;
}
.fast-img{
  display: flex;
  gap: 18px;
}

.team-img-story img{
  height: 337px;
  width: 540px;
  border-radius: 16px 16px 0 0;
}
.btn-nov{
  width: 174px;
  height: 47px;
  border-radius: 47px;
  color: #ffffff;
  background-color: #3CD8E8;
  border: none;
  margin-left: 38px;
  margin-top: -70px;
}
.story-para{
  background-color: white;
  padding-top: -20px;
  border-radius: 0 0 16px 16px;
}
.nov-19{
  width: 174px;
  height: 38px;
  border-radius: 47px;
  color: #ffffff;
  background-color: #95B226;
  border: none;
  margin-left: 19px;
  margin-top: -40px;
}
.btn-19{
  width: 174px;
  height: 38px;
  border-radius: 47px;
  color: #ffffff;
  background-color: #5D58E0;
  border: none;
  margin-left: 19px;
  margin-top: -40px;
}

.nov-para{
  height: 57px;
  width: 212px;
  font-size: 15px;
  font-weight: 700;
  /* text-align: center; */
  padding-left: 37px;
}

.title-a{
  height: 69px;
  width: 402px;
  padding-left: 38px;
  font-size: 24px;
  font-weight: 700;

}
.paragraph-a{
  height: 75px;
  width: 433px;
  padding-left: 38px;
  padding-right: 68px;
  padding-bottom: 34px;
}

.display-flex{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  
}
.image-sty{
  border-radius: 16px 16px 0px 0px;
}

.btn-view{
  background-color: black;
  color: #FFFFFF;
  width: 197px;
  height: 50px;
  border-radius: 12px;
  margin-top: 80px;
  margin-left: 451px;
  margin-bottom: 60px;
}



/* Footer Kids */

.footer{
  background-color: #01ACFD;
  height: 519px;
}
.kid-keep{
  margin: 140px;
  padding-right: 140px;
  display: flex;
  justify-content: space-between;
  padding-top: 123px;
}

.logo-edu{
  color: #ffffff;
  display: flex;
  height: 81px;
  width: 299px;
}
.logo-edu-img{
  height: 81px;
  width: 82px;
}
.foter-para{
  color: #ffffff;
  height: 100px;
  width: 399px;
  font-size: 20px;
}
.ab-school{
  color: #ffffff;
}
.ab-schols{
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  height: 30px;
  width: 156px;
}


/* Small Size Device */
@media screen and (max-width:576px) {
  .hero,
  .standard-curriculum,
  .our-teams,
  .footer{
    flex-direction: column;
  }
  .standard{
    grid-template-columns: repeat(1, 1fr);
  }

  .team-img-story{
    grid-template-columns: repeat(1, 1fr);
  }
  .team-img-container{
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Medium Size Device */

@media screen and (min-width:576px) and (max-width:992px){
  .hero,
  .standard-curriculum,
  .our-teams,
  .footer{
    flex-direction: column;
  }
  .standard{
    grid-template-columns: repeat(2, 1fr);
  }
  ..team-img-story{
    grid-template-columns: repeat(1, 1fr);
  }
  .team-img-container{
    grid-template-columns: repeat(2, 1fr);
  }
}