/* font-family: "Quicksand", serif; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Navbar */

.school{
    display: flex;
    font-style: none;
    
}
.logo{
    display: flex;
}
